header {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
}

nav a {
    flex: 0 0 100px; /* Set a fixed width for each item */
    margin: 10px; /* Add margin around each item */
    padding: 5px 15px;
    text-align: center; /* Center text horizontally */
    font-size: 18px;
    color: blue;
    display: inline-block; /* Display anchor elements as blocks to occupy full width */
}

a:hover {
    background-color: blue;
    color: #ffffff;
}

img {
    padding-left: 5px;
    padding-right: 5px;
    width: 350px; /* Set a fixed width for the image */
    height: 100%; /* Maintain aspect ratio */
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  color: blue   ;
}